 /* html, body {
 
  overflow: hidden;
  margin: 0;
} */
.container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  overflow: auto;
  background: gray;
}
.sample {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  cursor: move;
}